* {
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: #431407;
    color: #fed7aa;
}

h1, h2, h3 {
    color: #f97316;
}

h1 {
    background-color: #c2410c;
    border-radius: 12px;
    display: block;
    width: fit-content;
    margin-inline: auto;
    padding: 4px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color: ;
    background-color:;
    line-height: 50px;
}


a {
    text-decoration: none;
    color: ;
    background-color: ;
    padding: 8px;
    border-radius: 8px;
    font-weight: 700;
    margin-bottom: 10px;
}

hr {
    border-color: ;
}

.info{
    color:;
}

.Lasanha, .Sushi, .Yakissoba{
    border-radius: 24px;
    background-color: ;
    border: 2px solid ;
    margin: auto;
}

.lista {
    background-color: ;
    width: 300px;
    align-items: center;
    border-radius: 20px;


    border: 1px solid black;
}

.lista h3 {
    margin: 2px;
}
