* {
    text-align: center;
    font-family: "Overpass",sans-serif;
}

body {
    background-color: #7a0103;
}

h1 {
    color: #ff931f;
    background-color: #a50104;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color: #ff931f;
    background-color:#b81702;
    line-height: 50px;
}

h3 {
    color: #fa5e1f;
}

a {
    text-decoration: none;
    color: #b81702;
    background-color: #ff931f;
    padding: 8px;
    border-radius: 8px;
    font-weight: 700;
    margin-bottom: 10px;
}

hr {
    border-color: #ffad33;
}

.info{
    color:#ffad33;
}

.Lasanha, .Sushi, .Yakissoba{
    border-radius: 24px;
    background-color: #8E0103;
    border: 2px solid #B81702;
    margin: auto;
}

.lista {
    background-color: #B81702;
    width: 300px;
    align-items: center;
    border-radius: 20px;


    border: 1px solid black;
}

.lista h3 {
    margin: 2px;
}
